[submodule "java_fundamentals_pt2"]
	path = java_fundamentals_pt2
	url = https://github.com/IgorAssuncao/java_fundamentals_pt2.git
[submodule "java_fundamentals_pt1"]
	path = java_fundamentals_pt1
	url = https://github.com/IgorAssuncao/java_fundamentals_pt1.git
[submodule "Sena"]
	path = Sena
	url = https://github.com/IgorAssuncao/Sena.git
[submodule "JavaClassroom"]
	path = JavaClassroom
	url = https://github.com/IgorAssuncao/JavaClassroom.git
[submodule "JavaClassroomArrayList"]
	path = JavaClassroomArrayList
	url = https://github.com/IgorAssuncao/JavaClassroomArrayList.git
